<table class="table">
	<thead>
	<tr>
		<th ng-repeat="colOptions in grid.options.cols">{{colOptions.field}}</th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<th ng-repeat="colOptions in grid.options.cols">{{colOptions.field}}</th>
	</tr>
	</tfoot>
	<tbody>
	<tr>
		<td>
			<div class="input-group">
				<input type="text" class="form-control" name="username-filter" aria-label="Username Filter">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" aria-label="Username Sort">
									<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
								</button>
							</span>
			</div>
		</td>
		<td>
			<div class="input-group">
				<input type="text" class="form-control" name="description-filter" aria-label="Description Filter">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" aria-label="Description Sort">
									<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
								</button>
							</span>
			</div>
		</td>
		<td>
			<div class="input-group">
				<input type="text" class="form-control" name="details-filter" aria-label="Details Filter">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" aria-label="Details Sort">
									<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
								</button>
							</span>
			</div>
		</td>
		<td>
			<div class="input-group">
				<input type="text" class="form-control" name="email-filter" aria-label="Email Filter">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" aria-label="Email Sort">
									<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
								</button>
							</span>
			</div>
		</td>
		<td class="col-boolean">
			<div class="input-group">
				<input type="checkbox" name="active-filter" aria-label="Active Filter">
			</div>
		</td>
		<td class="col-boolean">
			<div class="input-group">
				<input type="checkbox" name="active-filter" aria-label="Active Filter">
			</div>
		</td>
	</tr>
	<tr ng-repeat="entity in grid.data">
		<td ng-repeat="colOptions in grid.options.cols" grid-column entity="entity" options="colOptions"></td>
	</tr>
	</tbody>
</table>
