<table class="table">
	<thead>
	<tr>
		<th ng-repeat="colOptions in grid.options.cols">{{colOptions.field}}</th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<th ng-repeat="colOptions in grid.options.cols">{{colOptions.field}}</th>
	</tr>
	</tfoot>
	<tbody>
	<tr>
		<td ng-repeat="colOptions in grid.options.cols" grid-toolbar options="colOptions"></td>
	</tr>
	<tr ng-repeat="entity in grid.data">
		<td ng-repeat="colOptions in grid.options.cols" grid-column entity="entity" options="colOptions"></td>
	</tr>
	</tbody>
</table>
